body{
    font-size: 20px;
    background-color: bisque;
    background-image: url('../static/background.jpg');
    background-repeat: round;
    background-attachment: fixed;
}

span{
    border: 1px solid black;
    background-color: cornflowerblue;
    text-align: justify;
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;

    border: 1px solid black;
    background-color: green;
    text-align: justify;

    line-height: 120%;
    text-indent: 20px;
}

p {
    border: 1px solid black;
    border-bottom: 0.3em dashed blue;
    background-color: purple;
    text-align: justify;
}

div.menu_linki a:link, div.menu_linki a:visited{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

div.menu_linki a:hover, div.menu_linki a:active{
    color: green;
    background-color: black;
}