* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../static/background_3.jpg");
    background-repeat: repeat;
    align-content: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-container {
    border: 5px solid black;
    width: 1004px;
    margin: 0 auto;
    background-color: rgba(255, 226, 172, 0.25)
}

/* links */
a {
    text-decoration: none;
}

a:link, a:visited {
    color: #a66fd3;
    text-decoration: none;
}

a:hover, a:active{
    color: teal;
    text-decoration: none;
}

/* header */
header {
    position: relative;
    width: 100%;
    height: 150px;
}

header img.logo {
    border: 0;
    position: absolute;
    left: 10px;
    top: 12px;
}

#contact-box {
    border: 0;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 1em;
    font-weight: 600;
    color: #292929;
}

#contact-box td {
    text-align: left;
}

/* top menu */
#top-menu {
    border: none;

    font-weight: 600;
    font-variant: small-caps;
    display: inline-block;
    color: white;

    position: absolute;
    left: 10px;
    top: 120px;
    /* bottom: -0.2em; */
}

#top-menu ul {
    list-style-type: none;
}

#top-menu li {
    float: left;
    margin-right: 0.3em;
}

#top-menu .top-menu-link {
    padding: 0.5em 0.7em;
    border-top-left-radius : 0.5em;
    border-top-right-radius : 0.5em;
    border-top: 2px solid #292929;
    border-left: 2px solid #292929;
}

#top-menu a:link .top-menu-link,
#top-menu a:visited .top-menu-link {
    background-color: #a66fd3;
    color: white;
}

#top-menu a:hover .top-menu-link,
#top-menu a:active .top-menu-link,
#top-menu a .top-menu-link.top-menu-link-selected {
    background-color: teal;
    color: white;
}

/* expandable menu */
#top-menu .top-menu-expandable li {
    float: none;
}

#top-menu .top-menu-expandable .top-menu-link::after {
    content: " [...]";
    font-size: 0.6em;
}

#top-menu .top-menu-expandable .top-menu-expandable-object {
    /* defaultowe ukrycie */
    display: none;
    /* aby nie rozszerzać rodzica */
    position: fixed;
    text-align: left;
    font-size: 0.9em;
}

#top-menu .top-menu-expandable:hover .top-menu-expandable-object {
    /* pokazanie po najechaniu */
    display: block;
}

#top-menu .top-menu-expandable .top-menu-expandable-object .top-menu-link {
    border-top-right-radius : 0.5em;
    border-bottom-right-radius : 0.5em;
    margin-top: 0.1em;
}

#top-menu .top-menu-expandable .top-menu-expandable-object .top-menu-link::after {
    display: none;
}