* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../static/background_3.jpg");
    background-repeat: repeat;
    align-content: center;
    padding: 10px;
}

#main-container {
    border: 5px solid black;
    width: 1004px;
    margin: 0 auto;
}

/* links */
a:link, a:visited {
    color: teal;
    text-decoration: none;
}

a:hover, a:active{
    color: cornflowerblue;
}

/* header */
header {
    position: relative;
    width: 100%;
    height: 150px;
}

header img.logo {
    border: 0;
    position: absolute;
    left: 10px;
    top: 25px;
}

#contact-box {
    border: 0;
    position: absolute;
    right: 20px;
    top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    font-weight: 600;
    color: #292929;
}

#contact-box td {
    text-align: left;
}