main {
    flex-flow: column;
    flex-direction: column;
}

nav {
    width: auto;
    flex: 1 1 auto;
    align-self: stretch;
}

nav * {
    width: auto;    
}

article {
    width: auto;
}

aside {
    width: auto;
}

footer {
    background-color: aqua;
}